#
#  From https://github.com/kaorimatz/packer-templates
#
# TODO use %include https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/Installation_Guide/sect-kickstart-syntax.html
# This has become "OpenStack allinone on VirtualBox" specific.


lang en_US.UTF-8
#keyboard fr-pc
keyboard us

# Will use time from the host
timezone --utc --nontp Europe/Paris

install
text
skipx
reboot


# Direct connexion:
#url --url=http://dl.fedoraproject.org/pub/fedora/linux/releases/$releasever/Everything/$basearch/os/ --proxy=FCKNG_HTTP_PROXY
#repo --name="Fed-updates" --baseurl=http://dl.fedoraproject.org/pub/fedora/linux/updates/$releasever/$basearch/

# Default local RPM cache (see Readme)
url --url=http://10.0.2.2/centos/$releasever/os/$basearch/
repo --name="Cent-updates" --baseurl=http://10.0.2.2/centos/$releasever/updates/$basearch/
repo --name="EPEL" --baseurl=http://10.0.2.2/epel/$releasever/$basearch/

# Local cache on vboxnet0
#url --url=http://192.168.56.1/fedora/releases/$releasever/Everything/$basearch/os/
#repo --name="Fed-updates" --baseurl=http://192.168.56.1/fedora/updates/$releasever/$basearch/

# For debug
#rootpw --plaintext toto
user --name=toto --groups=users,wheel  # --password=toto

# Packstack will use the name server to find the IP address. 
# This is why I use an fixed IP with a nameserver, just so it is installed on this IP instead of the dynamic 10.0.2... used for external access (via NAT)
# VirtualBox specific ... --nodefroute
network --device=enp0s8 --bootproto=static --ip=192.168.56.10 --nameserver=192.168.56.10 --netmask=255.255.255.0 --noipv6 --hostname=openstack.home --gateway=192.168.56.1 --nodefroute    # 192.168... host-only  
network --device=enp0s3 --noipv6                              # 10.0.2 ... NAT
services --disabled=NetworkManager --enabled=network,sshd 
firewall --disabled
#selinux --disabled


zerombr
autopart --type=plain
clearpart --all --initlabel
bootloader --extlinux --timeout=1


# This will be 300 packages, about Mo
%packages  --nobase  # --ignoremissing
@core
openssh-server
iproute
#epel-release already installed above
-dracut*
-dracut-network
which
#zsh
-plymouth*
-ruby

# For VirtualBox (requires EPEL repo)
bzip2 
kernel-devel
make
dkms    

# Ansible
ansible
libselinux-python

-NetworkManager
-firewalld
-btrfs*
-iwl*
-ivtv-*
%end


%post --erroronfail

# parted MBR code doesn't boot extlinux OS install (Fedora only?)
# https://bugzilla.redhat.com/show_bug.cgi?id=1015931
#dd if=/usr/share/syslinux/mbr.bin of=/dev/sda


echo -e "%wheel	ALL=(ALL)	NOPASSWD: ALL"        >> /etc/sudoers
echo -e "%users  localhost=/sbin/shutdown -h now" >> /etc/sudoers
echo -e "Defaults env_keep += \"http_proxy https_proxy no_proxy\"" >> /etc/sudoers

sed -i '/requiretty/d' /etc/sudoers

#---- Install SSH key ----
mkdir -m0700 /home/toto/.ssh/

# Add your own public key!
cat <<EOF >/home/toto/.ssh/authorized_keys
ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBNpTGKUp8I7AvQWdDqy8MzXByW1oRpLcqhXgEmocJ/PxiZFx9pOp5H8L7WLFeeysrCRhlDEWMl+oiaI1wNV01RU= bruno
EOF

### set permissions and SELinux
chmod 0600 /home/toto/.ssh/authorized_keys
chown -R toto:users /home/toto/.ssh
restorecon -R /home/toto/.ssh/

%end

