#
#  From https://github.com/kaorimatz/packer-templates
#
# TODO use %include https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/Installation_Guide/sect-kickstart-syntax.html


lang en_US.UTF-8
keyboard fr-pc
#keyboard us

# Will use time from the host
timezone --utc --nontp Europe/Paris


install
text
skipx

reboot

url --url=http://10.0.2.2/fedora/releases/$releasever/Everything/$basearch/os/
repo --name="Fed-updates" --baseurl=http://10.0.2.2/fedora/updates/$releasever/$basearch/

# Local cache on vboxnet0
#url --url=http://192.168.56.1/fedora/releases/$releasever/Everything/$basearch/os/
#repo --name="Fed-updates" --baseurl=http://192.168.56.1/fedora/updates/$releasever/$basearch/

# Without local cache:
#url --url=http://dl.fedoraproject.org/pub/fedora/linux/releases/$releasever/Everything/$basearch/os/
#repo --name="Fed-updates" --baseurl=http://dl.fedoraproject.org/pub/fedora/linux/updates/$releasever/$basearch/


#repo --install --name="VirtualBox" --baseurl=http://download.virtualbox.org/virtualbox/rpm/fedora/$releasever/$basearch/ 


rootpw --plaintext toto
user --name=toto --groups=users,wheel --password=toto

services --enabled=network,sshd
network --bootproto=dhcp
firewall --service=ssh
selinux --disabled


zerombr
autopart --type=plain
clearpart --all --initlabel
bootloader --extlinux --timeout=1


# This will be 353 packages, about 200Mo
%packages --excludeWeakdeps  --ignoremissing
@core
-dracut
kernel-core
systemd-udev
#yum
#yum-[^r]*
which
#zsh
#kernel
#-NetworkManager
-plymouth*
-ruby

# For VirtualBox
bzip2 
kernel-devel
make
dkms

%end

%post --erroronfail

#rpm --import "http://rpmfusion.org/keys?action=AttachFile&do=get&target=RPM-GPG-KEY-rpmfusion-nonfree-fedora-24"
#rpm --import "http://rpmfusion.org/keys?action=AttachFile&do=get&target=RPM-GPG-KEY-rpmfusion-free-fedora-24"

# This will make a very long post-installation ...
#dnf -y update

# parted MBR code doesn't boot extlinux OS install
# https://bugzilla.redhat.com/show_bug.cgi?id=1015931
dd if=/usr/share/syslinux/mbr.bin of=/dev/sda

echo -e "%wheel	ALL=(ALL)	NOPASSWD: ALL"        >> /etc/sudoers
echo -e "%users  localhost=/sbin/shutdown -h now" >> /etc/sudoers

# TODO Try to speed up things
#echo -e "UseDNS no" >> /etc/ssh/sshd_config
#echo -e "GSSAPIAuthentication no" >> /etc/ssh/sshd_config

%end

