#
#  From https://github.com/kaorimatz/packer-templates
#
# TODO use %include https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/Installation_Guide/sect-kickstart-syntax.html


lang en_US.UTF-8
#keyboard fr-pc
keyboard us

# Will use time from the host
timezone --utc --nontp Europe/Paris

install
text
skipx
reboot


# Direct connexion:
#url --url=http://dl.fedoraproject.org/pub/fedora/linux/releases/$releasever/Everything/$basearch/os/ --proxy=FCKNG_HTTP_PROXY
#repo --name="Fed-updates" --baseurl=http://dl.fedoraproject.org/pub/fedora/linux/updates/$releasever/$basearch/

# Default local RPM cache (see Readme)
url --url=http://10.0.2.2/fedora/releases/$releasever/Everything/$basearch/os/
repo --name="Fed-updates" --baseurl=http://10.0.2.2/fedora/updates/$releasever/$basearch/

# Local cache on vboxnet0
#url --url=http://192.168.56.1/fedora/releases/$releasever/Everything/$basearch/os/
#repo --name="Fed-updates" --baseurl=http://192.168.56.1/fedora/updates/$releasever/$basearch/


#rootpw --plaintext toto
user --name=toto --groups=users,wheel  # --password=toto

services --enabled=network,sshd
network --bootproto=dhcp
firewall --service=ssh
#selinux --disabled


zerombr
autopart --type=plain
clearpart --all --initlabel
bootloader --extlinux --timeout=1


# This will be 353 packages, about 200Mo
%packages --excludeWeakdeps  --ignoremissing
@core
-dracut
kernel-core
systemd-udev
which
#zsh
-plymouth*
-ruby

# For VirtualBox
bzip2 
kernel-devel
make
dkms

# Ansible
ansible
libselinux-python

%end


%post --erroronfail

# parted MBR code doesn't boot extlinux OS install
# https://bugzilla.redhat.com/show_bug.cgi?id=1015931
dd if=/usr/share/syslinux/mbr.bin of=/dev/sda


echo -e "%wheel	ALL=(ALL)	NOPASSWD: ALL"        >> /etc/sudoers
echo -e "%users  localhost=/sbin/shutdown -h now" >> /etc/sudoers


#---- Install SSH key ----
mkdir -m0700 /home/toto/.ssh/

cat <<EOF >/home/toto/.ssh/authorized_keys
ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBNpTGKUp8I7AvQWdDqy8MzXByW1oRpLcqhXgEmocJ/PxiZFx9pOp5H8L7WLFeeysrCRhlDEWMl+oiaI1wNV01RU= bruno
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDVmQ5REEZM
nCfznsDgE0ak+oiv1e9sdH6xxGvFhkTlcT7AJonluxPrtskU
8rc2Jhz6Mp                    A6qUdFRTtwIur0CgMk
DbCW+OP2v6    Change me !!    gtIsX0HH9W4KKm5030
xxaMFkYBrU                    nuTotXtdZkLmUi9Pm1
51SglvrWFKRl9zSgp0K10HKK+pDhKewVeJjAp6gRO7kkp8U4
by2+pVeXJlSgx9qevsZ/16DeAizYIas7aTz+X61ICRqS0EAR
pHlm2LXxU4voc4WgIPxKl2MLzDJupqa7IAvbO9WVZFwR toto@my-domain
EOF

### set permissions and SELinux
chmod 0600 /home/toto/.ssh/authorized_keys
chown -R toto:users /home/toto/.ssh
restorecon -R /home/toto/.ssh/


%end

